In [1]:
import pandas as pd
import numpy as np
import sys
import os

In [64]:
kg_file = '/home/dc925/project/data/graphmimic/UMLS/icd_relations.txt'
concepts_file = '/home/dc925/project/data/graphmimic/UMLS/icd_concepts_all.txt'
df = pd.read_csv(kg_file, sep='\t', header=None)

In [65]:
df.columns = ['head', 'rel', 'tail']

In [68]:
df = df.drop_duplicates(subset=['head', 'tail'])

In [70]:
concepts = pd.read_csv(concepts_file, sep='\t', header=None)

In [72]:
concepts.columns = ['CUI', 'ICD9', 'DESC']

In [80]:
concepts = concepts.drop_duplicates(subset=['CUI'])

In [82]:
len(set(df['head'].values))

20996

In [84]:
filtered_df = df[(df['head'].isin(concepts['CUI'])) & (df['tail'].isin(concepts['CUI']))]

In [85]:
cui2icd = pd.Series(concepts.ICD9.values, index=concepts.CUI).to_dict()

In [87]:
filtered_df['head'] = filtered_df['head'].map(lambda x: cui2icd[x])

/home/dc925/miniconda3/envs/graphmimic/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [88]:
filtered_df['tail'] = filtered_df['tail'].map(lambda x: cui2icd[x])

/home/dc925/miniconda3/envs/graphmimic/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [89]:
filtered_df

          head  rel    tail
0        789.0   SY   789.0
2        789.0  CHD  789.06
3        789.0  CHD  789.01
4        789.0  CHD  789.04
5        789.0  CHD  789.02
...        ...  ...     ...
219829  364.53  SIB  364.55
219830  364.53  SIB  364.56
219831  364.53  SIB  364.57
219832  364.53  SIB  364.59
219833  364.53  SIB  364.51

[186157 rows x 3 columns]

In [96]:
triples = filtered_df.values.tolist()
num_triples = len(triples)

In [97]:
seed = np.arange(num_triples)

In [98]:
np.random.shuffle(seed)

In [100]:
data_dir = '/home/dc925/project/data/graphmimic/UMLS/ICD_KG'

In [102]:
train_count = int(num_triples * 0.9)
valid_count = int(num_triples * 0.05)

train_set = seed[:train_count].tolist()
valid_set = seed[train_count: train_count+valid_count].tolist()
test_set = seed[train_count+valid_count:].tolist()

with open(os.path.join(data_dir, 'train.tsv'), 'w+') as f:
    for idx in train_set:
        f.writelines("{}\t{}\t{}\n".format(triples[idx][0], triples[idx][1], triples[idx][2]))
with open(os.path.join(data_dir, 'valid.tsv'), 'w+') as f:
    for idx in valid_set:
        f.writelines("{}\t{}\t{}\n".format(triples[idx][0], triples[idx][1], triples[idx][2]))
with open(os.path.join(data_dir, 'test.tsv'), 'w+') as f:
    for idx in test_set:
        f.writelines("{}\t{}\t{}\n".format(triples[idx][0], triples[idx][1], triples[idx][2]))